@using iep_ecommerce.Models
@model IEnumerable<iep_ecommerce.Models.Auction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
<h4>Tokens Available: @ViewBag.Tokens</h4>
}

@if (User.IsInRole("admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<p>
@using (Html.BeginForm("Index", "Auctions", FormMethod.Get))
{
    <div class="form-inline">
        <div class="col-md-3">
            @Html.TextBox("SearchString", "", new { @class = "form-control" })
        </div>

        <div class="col-md-1">
            @Html.TextBox("LowerBoundPrice", 0, new { @type = "number", @class = "form-control" })
        </div>

        <div class="col-md-1">
            @Html.TextBox("HigherBoundPrice", 0, new { @type = "number", @class = "form-control" })
        </div>

        <div class="col-md-2">
            @Html.DropDownList("Status", EnumHelper.GetSelectList(typeof(Auction.State)), "Auction Status", new { @class = "form-control" })
        </div>

        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}
</p>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <h3>
            @Html.DisplayFor(modelItem => item.Title) @Html.DisplayFor(modelItem => item.Value)
        </h3>

        <a href="@Url.Action("Details", "Auctions", new { id = item.Id })" class="thumbnail">
            <img src="http://placehold.it/150x150" />
        </a>

        <h4>
            Time Left: @Html.DisplayFor(modelItem => item.Duration)
        </h4>

        <h4>
            Latest Bid: @Html.DisplayFor(modelItem => item.getLastBidder().UserName)
        </h4>

        <h5>
            @if (User.IsInRole("admin"))
            {
                <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</span>
                <span>@Html.ActionLink("Start", "Start", new { id = item.Id }) |</span>
            }
            @Html.ActionLink("Details", "Details", new { id = item.Id })

            @if (!User.IsInRole("admin"))
            {
                <span>| @Html.ActionLink("Bid", "Bid", new { id = item.Id })</span>
            }

            @if (User.IsInRole("admin"))
            {
                <span>| @Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
            }
        </h5>
    </div>
}
