@using iep_ecommerce.Models
@using iep_ecommerce.Models.ViewModels
@model AuctionIndexViewModel

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/auctions")
}

<ul id="slide-out" class="side-nav">
@using (Html.BeginForm("Index", "Auctions", FormMethod.Get))
{
    <li>
        <div class="input-field">
            <label for="SearchString">Search</label>
            @Html.TextBox("SearchString", Model.SearchString, new { @class = "validate" })
        </div>
    </li>

    <li>
        <div class="input-field">
            @Html.DropDownList("Status")
            <label>States</label>
        </div>
    </li>

    <li>
        <div class="input-field slider-container">
            <label>Price (in RSD)</label>
            <div class="slider filter" id="price-slider"></div>
        </div>
    </li>

    <li>
        <div class="input-field">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </li>

    @Html.Hidden("LowerPriceBound", Model.LowerPriceBound, new { @id = "lower-price" })
    @Html.Hidden("HigherPriceBound", Model.HigherPriceBound, new { @id = "higher-price" })

}
</ul>

@if (User.Identity.IsAuthenticated && !User.IsInRole("admin"))
{
    <div class="row">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">euro_symbol</i>Tokens Available:<div class="right">@ViewBag.Tokens</div></div>
                <div class="collapsible-body">
                    <p>
                        If you wish to buy some tokens, you can use our mobile payment gateway.
                    </p>
                    <p>
                        <a id="c-mobile-payment-widget" href="https://stage.centili.com/widget/WidgetModule?api=299160b91899551398e804b92fdc4171"><img src="https://www.centili.com/images/centili-widget-button.png" /></a>
                    </p>
                    <p>
                        @Html.ActionLink("Buy", "Buy", "Tokens")
                    </p>
                </div>
            </li>
        </ul>
    </div>
}

@if (User.IsInRole("admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<h2> @ViewBag.Title </h2>
<div class="row">
    <div class="col m6">
        <a href="#" data-activates="slide-out" class="button-collapse btn">Filters</a>
    </div>
</div>

@foreach (var item in Model.Auctions.Select((value, index) => new { value, index }))
{
    if (item.index % 3 == 0)
    {
        @:<div class="row">
    }
    <div class="col l4 m6 s12">
        <div class="card hoverable auction" id="@item.value.Id"
             data-closes-at="@item.value.ClosesAt"
             data-status="@((int)item.value.Status)">

            <div class="card-image">
                <img src="http://placehold.it/150x150" />
                <div class="card-title auction-title">
                    <div>@Html.DisplayFor(modelItem => item.value.Title)</div>
                    <div>@Html.DisplayFor(modelItem => item.value.FormattedValue) RSD</div>
                </div>
                <a href="@Url.Action("Details", "Auctions", new { id = item.value.Id })" class="thumbnail">
                </a>
            </div>

            <div class="card-content">            
                <p>
                    <span class="time-left-label"></span><span id="time-@item.index" class="time-left"></span>
                </p>

                <p>
                    <div>Latest Bid:</div><div class="auction-winner">@Html.DisplayFor(modelItem => item.value.getLastBidderName)</div>
                </p>
            </div>
            <div class="card-action">
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.value.Id })

                    if (item.value.Status == Auction.State.READY)
                    {
                        @Html.ActionLink("Start", "Start", new { id = item.value.Id })
                    }

                    if (item.value.Status == Auction.State.OPEN)
                    {
                        @Html.ActionLink("Stop", "Stop", new { id = item.value.Id })
                    }
                }

                @Html.ActionLink("Details", "Details", new { id = item.value.Id })

                @if (!User.IsInRole("admin"))
                {
                    <a href="javascript:void(0);" class="bid-btn">Bid</a>
                    //@Html.ActionLink("Bid", "Bid", new { id = item.value.Id }, new { @class = "bid-btn" })
                }

                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.value.Id })
                }
            </div>
         </div>
    </div>
    if (item.index % 3 == 2 || item.index == (Model.Auctions.Count - 1))
    {
        @:</div>
    }
}
