@using Vereyon.Web;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Illegal Penny Auctions</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/material")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/nouislider")
    @Styles.Render("~/Content/custom")

    <script type="text/javascript">
        var appInsights=window.appInsights||function(config){
            function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
        }({
            instrumentationKey:"f907aab4-9ab8-47f6-85ce-993c0a10e4b1"
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>

</head>

<body>
    <nav class="blue-grey">
        <div class="nav-wrapper container">
            @Html.ActionLink("Illegal Penny Auctions", "Index", "Auctions", new { area = "" }, new { @class = "brand-logo hide-on-med-and-down" })
            @Html.ActionLink("ILP", "Index", "Auctions", new { area = "" }, new { @class = "brand-logo hide-on-large-only" })
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                @{ Html.RenderPartial("_NavbarLinks"); }
            </ul>

            <ul id="mobile-demo" class="side-nav">
                @{ Html.RenderPartial("_NavbarLinks"); }
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <div class="row">
            <footer>
                <p>&copy; @DateTime.Now.Year - Illegal Penny Auctions</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/utils")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/material")
    @Scripts.Render("~/bundles/nouislider")
    @Scripts.Render("~/bundles/animation")
    <script type="text/javascript" src="https://stage.centili.com/widget/js/c-mobile-payment-scripts.js"></script>
    
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        $(function () {
            @foreach(var message in FlashMessage.Retrieve(Html.ViewContext.HttpContext))
            {
                <text>
                    Materialize.toast("@message.Message", 5000);
                </text>
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
